@page
@using fisketorvet_project_v1.Models
@model fisketorvet_project_v1.Pages.AdminSection.StoreAdminPageModel
@{
}


<div class="text-center">
    <h1 class="display-4">Store Administration Page</h1>
</div>

<div align="right">
    <form method="post">
        <input type="submit" class="btn btn-primary btn-lg" value="Create New Store" style="background-color: beige; color:black" asp-page-handler="CreateNewStore" />
    </form>
</div>

<main role="main">



    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
                
               @foreach (Store st in Model.Stores.Values)
               {
                   <div class="col-md-4">
                       <div class="card mb-4 box-shadow card h-100">
                           <img class="img-fluid " src="@st.ImagePath" alt="Card image cap">
                           <div class="card-body">
                               <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                               <div class="d-flex justify-content-between align-items-center">
                                   <div class="btn-group ">
                                       <button type="submit" class="btn btn-sm btn-outline-secondary">View</button>
                                       <div class="panel-group">
                                           <div class="panel panel-default">
                                               <div class="panel-heading">
                                                   <h4 class="panel-title">
                                                       <button data-toggle="collapse" class="btn btn-sm btn-outline-secondary" data-target="#demo">Edit</button>
                                                   </h4>
                                               </div>
                                               <div id="demo" class="panel-collapse collapse">
                                                   <div class="panel-body">
                                                       <button type="submit" class="btn btn-sm btn-outline-secondary">Store Details</button>
                                                   </div>
                                                   <div class="panel-body">
                                                       @*<button type="submit" class="btn btn-outline-secondary" align="right">Products</button>*@

                                                       <a class="btn btn-outline-secondary" asp-page="ManageProducts" asp-route-id="@st.Id">Products</a>
                                                   </div>
                                               </div>
                                           </div>
                                       </div>
                                   </div>
                                   <div align="right">
                                       <form method="post">
                                           <input align="right" type="submit" class="btn btn-sm btn-outline-secondary" value="Remove" style="background-color: red; color: black" asp-page-handler="CreateNewStore"/>
                                       </form>
                                   </div>
                               </div>
                           </div>
                       </div>
                   </div>
               }
                




            </div>
        </div>
    </div>
</main>