@page
@model fisketorvet_project_v1.Pages.AdminSection.StoreAdminPageModel
@{
}
<div class="text-center">
    <h1 class="display-4">Store Administration Page</h1>
</div>

<div class="text-right">
    <h6><br /></h6>
    <button role="alert">Create Store</button>
    <h6><br /></h6>
</div>

<main role="main">

    

    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row">
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="submit" class="btn btn-sm btn-outline-secondary">View</button>
                                    <div class="panel-group">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <button data-toggle="collapse" class="btn btn-outline-secondary"  data-target="#demo">Edit</button>
                                                </h4>
                                            </div>
                                            <div id="demo" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <button type="submit" class="btn btn-sm btn-outline-secondary">Store Details</button>
                                                </div>
                                                <div class="panel-body">
                                                    <button type="submit" class="btn btn-outline-secondary">Products</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <div class="panel-group">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <button data-toggle="collapse" class="btn btn-outline-secondary"  data-target="#demo">Edit</button>
                                                </h4>
                                            </div>
                                            <div id="demo" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <button type="submit" class="btn btn-sm btn-outline-secondary">Store Details</button>
                                                </div>
                                                <div class="panel-body">
                                                    <button type="submit" class="btn btn-outline-secondary">Products</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <div class="panel-group">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <button data-toggle="collapse" class="btn btn-outline-secondary" data-target="#demo">Edit</button>
                                                </h4>
                                            </div>
                                            <div id="demo" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <button type="submit" class="btn btn-sm btn-outline-secondary">Store Details</button>
                                                </div>
                                                <div class="panel-body">
                                                    <button type="submit" class="btn btn-outline-secondary">Products</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <div class="panel-group">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <button data-toggle="collapse" class="btn btn-outline-secondary"  data-target="#demo">Edit</button>
                                                </h4>
                                            </div>
                                            <div id="demo" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <button type="submit" class="btn btn-sm btn-outline-secondary">Store Details</button>
                                                </div>
                                                <div class="panel-body">
                                                    <button type="submit" class="btn btn-outline-secondary">Products</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <div class="panel-group">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <button data-toggle="collapse" class="btn btn-outline-secondary" data-target="#demo">Edit</button>
                                                </h4>
                                            </div>
                                            <div id="demo" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <button type="submit" class="btn btn-sm btn-outline-secondary">Store Details</button>
                                                </div>
                                                <div class="panel-body">
                                                    <button type="submit" class="btn btn-outline-secondary">Products</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <div class="panel-group">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <button data-toggle="collapse" class="btn btn-outline-secondary" data-target="#demo">Edit</button>
                                                </h4>
                                            </div>
                                            <div id="demo" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <button type="submit" class="btn btn-sm btn-outline-secondary">Store Details</button>
                                                </div>
                                                <div class="panel-body">
                                                    <button type="submit" class="btn btn-outline-secondary">Products</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <div class="panel-group">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <button data-toggle="collapse" class="btn btn-outline-secondary" data-target="#demo">Edit</button>
                                                </h4>
                                            </div>
                                            <div id="demo" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <button type="submit" class="btn btn-sm btn-outline-secondary">Store Details</button>
                                                </div>
                                                <div class="panel-body">
                                                    <button type="submit" class="btn btn-outline-secondary">Products</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <div class="panel-group">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <button data-toggle="collapse" class="btn btn-outline-secondary" data-target="#demo">Edit</button>
                                                </h4>
                                            </div>
                                            <div id="demo" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <button type="submit" class="btn btn-sm btn-outline-secondary">Store Details</button>
                                                </div>
                                                <div class="panel-body">
                                                    <button type="submit" class="btn btn-outline-secondary">Products</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                </div>
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function MyFunction()
        {
            <table>
                <tr>Edit Shop details</tr>
                <tr>Edit Products</tr>
                <tr>Remove Store</tr>
            </table> 
        }
    </script>

</main>