@page
@using fisketorvet_project_v1.Models
@model fisketorvet_project_v1.Pages.PublicSection.StoresDetailsModel
@{
}
<head>
    <link rel="stylesheet" href="css/stylesheet.css">
</head>
<div class="container bootstrap snipets">
    <h1 class="text-center text-muted">@Model.Store.Name Catalog</h1> @*Dynamically get the name of the catalog*@
    <div class="row flow-offset-1">
        @foreach (Product prd in @Model.StoreProducts.Values)
        {
            <div class="col-xs-6 col-md-4 border">
                <div class="product tumbnail thumbnail-3">
                    <a href="#"><img class="card-img-top" src="@prd.ImageName"></a>
                    <div class="caption">
                        <h6><a href="#">@prd.ProductName</a></h6>
                        <span class="price">
                            <del>$24.99</del>
                        </span><span class="price sale">$12.49</span>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
