@page
@model fisketorvet_project_v1.Pages.UserSection.UserPageModel
@{
}
<div class="text-center">
    <h1 class="display-4">Welcome to the User Page</h1>

</div>

<div>
    <h3 align="center">Hello, @Model.cust.Name!<br /> Welcome back!</h3>
</div>
