@page
@using fisketorvet_project_v1.Models
@model fisketorvet_project_v1.Pages.Index1Model
@{
    ViewData["Title"] = "Delete Store";
}

<h1>Delete Store</h1>
<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"> </div>
    <div class="form-group">
        <label asp-for="@Model.store.Id" class="control-label"> Id </label>
        <input asp-for="@Model.store.Id" class="form-control" />
        <span asp-validation-for="@Model.store.Id" class="text-danger"></span>
    </div>


    <div class="form-group">
        <input type="submit" value="Delete" class="btn btn-primary btn-outline-primary" />
    </div>
</form>
<div>
    <a asp-page="ViewStores">Back to Stores List</a>
</div>
