@page
@using fisketorvet_project_v1.Models
@model fisketorvet_project_v1.Pages.LoginModel
@{
}
<style>
    div.box {
        /*  background: rgba(240, 248, 255,0.7);*/
        background: rgba(255, 255, 255, 0.7)
    }
</style>
<h1> Login </h1>
<div class="box">
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="form-group">
                <label class="control-label"><b>Username</b></label>
                <input asp-for="@Model.SiteUser.UserName" class="form-control" />
                <span asp-validation-for="@Model.SiteUser.UserName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label"><b>Password</b> </label>
                <input asp-for="@Model.SiteUser.Password" type="password" class="form-control" />
                <span asp-validation-for="@Model.SiteUser.Password" class="text-danger"></span>

            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary btn-outline-primary" value="Login" />
            </div>
        </form>
        <div>
            <a asp-page="/PublicSection/RegisterPage">Don't have an account ? Create here</a>
        </div>
        <div>
            <a style="color: black" asp-page="/Index"><h5>Back to MainMenu</h5></a>
        </div>
    </div>
</div>
</div>