@page
@using fisketorvet_project_v1.Models
@model fisketorvet_project_v1.Pages.LoginModel
@{
}
<style>
    div.box {
        /*  background: rgba(240, 248, 255,0.7);*/
        background: rgba(255, 255, 255, 0.7)
    }
</style>
<h1> Login </h1>
<div class="box">
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="form-group">
                <label class="control-label"><b>Username</b></label>
                <input name="Username" class="form-control input-lg" required autofocus />
            </div>

            <div class="form-group">
                <label class="control-label"><b>Password</b> </label>
                <input name="Password" type="password" class="form-control input-lg" required />

            </div>
            <div class="form-group">
                <input id="LoginButton" type="submit" value="Login" class="btn btn-success">
            </div>
        </form>
        <div>
            <a asp-page="/PublicSection/RegisterPage">Don't have an account ? Create here</a>
        </div>
        <div>
            <a style="color: black" asp-page="/Index"><h5>Back to MainMenu</h5></a>
        </div>
    </div>
</div>
</div>