@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>All your data is ours, and we will sell it to the highest bidder and there is nothing you can do stop us. - Every technology giant in 2020</p>
