@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<style>
    .back {
        background: linear-gradient(to right, rgba(255, 255, 255, 0.9),rgba(115, 115, 115,0.5) )
    }
</style>
<h1>@ViewData["Title"]</h1>

<p>
    <br/>
    <br/>
    <h5 style="background-color: rgba(255, 255, 255, 0.7)">
             Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<br/>
         Rhoncus mattis rhoncus urna neque viverra justo nec ultrices. A arcu cursus vitae congue mauris rhoncus aenean vel elit.<br/>
            Venenatis lectus magna fringilla urna porttitor rhoncus dolor purus. Pulvinar elementum integer enim neque volutpat. Egestas fringilla phasellus faucibus scelerisque eleifend donec.<br/>
        Tellus cras adipiscing enim eu turpis egestas pretium aenean. Fringilla ut morbi tincidunt augue interdum velit euismod. Id faucibus nisl tincidunt eget nullam non.<br/>
            Ut sem nulla pharetra diam sit amet nisl. Blandit turpis cursus in hac habitasse platea dictumst quisque. Sed elementum tempus egestas sed sed risus pretium quam vulputate.<br />
        Est ullamcorper eget nulla facilisi etiam dignissim diam quis enim. Vitae congue mauris rhoncus aenean vel elit scelerisque mauris pellentesque. Pellentesque massa placerat duis ultricies lacus sed.<br />
            Tristique nulla aliquet enim tortor at. Nunc mi ipsum faucibus vitae aliquet nec ullamcorper sit.<br />
        Non diam phasellus vestibulum lorem. Purus in massa tempor nec feugiat nisl pretium fusce id. Tellus mauris a diam maecenas sed enim. Diam vulputate ut pharetra sit amet aliquam.<br />
            Porta non pulvinar neque laoreet. Pharetra convallis posuere morbi leo urna molestie at elementum. Enim ut tellus elementum sagittis vitae. Ornare quam viverra orci sagittis eu.<br />
        Ultrices mi tempus imperdiet nulla. Donec et odio pellentesque diam volutpat commodo sed egestas. Consectetur purus ut faucibus pulvinar.<br />
             Etiam tempor orci eu lobortis elementum nibh tellus molestie nunc. Risus nec feugiat in fermentum posuere urna nec. Egestas quis ipsum suspendisse ultrices gravida dictum fusce ut.<br />
        Sed viverra tellus in hac habitasse platea dictumst vestibulum rhoncus. Iaculis urna id volutpat lacus laoreet. Non blandit massa enim nec dui nunc mattis. Sed velit dignissim sodales ut eu sem.<br />
            Sed tempus urna et pharetra pharetra massa massa ultricies mi.<br />
        Interdum velit euismod in pellentesque massa. Dis parturient montes nascetur ridiculus mus. Nullam ac tortor vitae purus faucibus ornare suspendisse sed.<br />
            Enim nulla aliquet porttitor lacus luctus accumsan. Imperdiet sed euismod nisi porta lorem mollis aliquam ut. Felis donec et odio pellentesque diam volutpat commodo.<br />
        Ornare aenean euismod elementum nisi quis eleifend. Sit amet purus gravida quis blandit. Adipiscing elit duis tristique sollicitudin nibh sit amet.<br />
            Amet aliquam id diam maecenas ultricies mi eget mauris. Nunc faucibus a pellentesque sit amet porttitor eget. Aliquet sagittis id consectetur purus ut.<br />
        Elementum nibh tellus molestie nunc non. Scelerisque felis imperdiet proin fermentum leo vel. Auctor urna nunc id cursus metus aliquam eleifend mi.<br />
    </h5>
    <br/>
    <br/>
</p>
<br/>
<br/>
