@page
@model fisketorvet_project_v1.Pages.UnauthorizedModel
@{
}
<h1 class="alert-danger">UNATHORIZED ACCESS, YOU DO NOT HAVE PERMISSIONS TO VISIT THIS SITE</h1>

<a asp-page="Index">Go back to homepage</a>
