@page
@model fisketorvet_project_v1.Pages.UnauthorizedModel
@{
}

<div style="background-color:rgba(255, 255, 255, 0.8)">
    <h3 align="center" class="alert-danger">UNATHORIZED ACCESS, YOU DO NOT HAVE PERMISSIONS TO VISIT THIS SITE</h3>
    <br/>
    <div align="center"><a asp-page="Index"><h4>Go back to homepage</h4></a></div>
    <br/>
    <br/>
</div>
